.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.form{
  margin: 2rem;
}

.title{
  background-color: transparent;
  border: none;
  font-size: 2rem;
  transition: 0.3s;
  border-radius: 0;
}

.title:hover{
  border: solid 1px #fff;
  cursor: pointer;
}

.title:focus{
  background-color: #fff;
}